version: 2
jobs:
  build:
    working_directory: ~/cci2_ex_umbrella
    docker:
      - image: yeongsheng/alpine-elixir-circleci:1.4.5
      - image: sickp/alpine-redis:3.2.9
        command: ["redis-server", "--requirepass", "rna"]
      - image erlio/docker-vernemq:1.0.1
      - image: taskinen/tftp
        command: ["--foreground", "--verbose", "--create", "--secure", "/var/tftpboot"]
      - image: kiasaki/alpine-postgres:9.6
        environment:
          POSTGRES_USER: postgres

    steps:
      - checkout
      - run: mix local.hex --force
      - run: mix local.rebar --force
      - run: mix archive.install --force https://github.com/phoenixframework/archives/raw/master/phx_new.ez
      - run: mix deps.get
      - run: mix deps.compile
      - run: mix ecto.create
      - run: mix espec
      - run: mix dialyzer
